* {
  box-sizing: border-box;
}

body {
  margin: 15px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.popup-panel {
  position: relative;
  overflow: hidden;
  user-select: none;
  display: flex;
  flex-direction: column;
  min-width: 180px;
  background-color: #fefefe;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgb(0 0 0 / 2%) 0 1px 3px 0;
  padding: 4px;
}

.popup-btn {
  position: relative;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  height: 32px;
  outline: none;
  color: #333333;
  font-weight: 500;
  font-size: 13px;
  border-radius: 4px;
  user-select: none;
  margin: 0px;
  padding: 0px;
}

.popup-btn-inner {
  height: 100%;
  width: 100%;
  background-color: #fefefe;
  border-radius: inherit;
  display: flex;
  gap: 3px;
  flex-direction: row;
  align-items: center;
  padding: 0 8px;
  justify-content: space-between;
  border: 1px solid transparent;
}

.popup-btn-inner:focus,
.popup-btn-inner:hover {
  background-color: #ececec;
}

.popup-btn-inner .popup-btn-kbd {
  margin-left: 8px;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14);
  text-align: center;
  font-size: 10px;
  color: #333332;
  background: none;
  font-weight: 500;
  gap: 3px;
  display: flex;
  align-items: center;
}
